body {
  margin-top: 15%;
}

.react-datepicker-wrapper {
  display: flex !important;
  justify-content: center;
}

.react-datepicker-popper {
  transform: translate3d(1180px, 405px, 0px) !important;
}

.Collapsible {
  background: silver;
  width: 25%;
  height: 25%;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 5%;
}

.Collapsible__contentInner {
  background: lightblue;
  border-radius: 2%;
}

.Collapsible__trigger {
  cursor: pointer;
}