

.Collapsible {
  background: silver;
  width: 50%;
  height: 25%;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 5%;
}

.Collapsible__contentInner {
  background: azure;
  border-radius: 2%;
}

.Collapsible__trigger {
  cursor: pointer;
}